/* my-table-red-100  */

.my-table-red-100{
    width: 100%;
}
.my-table-red-100 table , .my-table-red-100 th, .my-table-red-100 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-red-100 th, .my-table-red-100 td{
    padding: 6px 16px;
}
.my-table-red-100 th{
    background-color: red;
    color: white;
}
.my-table-red-100 tr:nth-child(odd){
    background-color: rgb(255, 165, 165);
} 
.my-table-red-100 tr:hover{
    background-color: rgb(253, 112, 51);
    cursor: pointer;
}
.my-table-red-100 caption{
    caption-side:top;
    text-align: center;
    background-color: red;
    color: white;
    
}

/* my-table-red-50  */

.my-table-red-50{
    width: 50%;
}
.my-table-red-50 table , .my-table-red-50 th, .my-table-red-50 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-red-50 th, .my-table-red-50 td{
    padding: 6px 16px;
}
.my-table-red-50 th{
    background-color: red;
    color: white;
}
.my-table-red-50 tr:nth-child(odd){
    background-color: rgb(255, 165, 165);
} 
.my-table-red-50 tr:hover{
    background-color: rgb(253, 112, 51);
    cursor: pointer;
}
.my-table-red-50 caption{
    caption-side:top;
    text-align: center;
    background-color: red;
    color: white;
    
}

/* my-table-green-100  */
.my-table-green-100{
    width: 100%;
}

.my-table-green-100 table , .my-table-green-100 th, .my-table-green-100 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-green-100 th, .my-table-green-100 td{
    padding: 6px 16px;
}
.my-table-green-100 th{
    background-color: rgb(0, 255, 0);
    color: white;
}
.my-table-green-100 tr:nth-child(odd){
    background-color: rgb(186, 253, 150);
} 
.my-table-green-100 tr:hover{
    background-color: rgb(167, 236, 163);
    cursor: pointer;
}
.my-table-green-100 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(0, 255, 0);
    color: white;
    
}


/* my-table-green-100  */
.my-table-green-50{
    width: 50%;
}

.my-table-green-50 table , .my-table-green-50 th, .my-table-green-50 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-green-50 th, .my-table-green-50 td{
    padding: 6px 16px;
}
.my-table-green-50 th{
    background-color: rgb(0, 255, 0);
    color: white;
}
.my-table-green-50 tr:nth-child(odd){
    background-color: rgb(186, 253, 150);
} 
.my-table-green-50 tr:hover{
    background-color: rgb(61, 253, 51);
    cursor: pointer;
}
.my-table-green-50 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(0, 255, 0);
    color: white;
    
}



/* my-table-blue-50  */
.my-table-blue-50{
    width: 50%;
}

.my-table-blue-50 table , .my-table-blue-50 th, .my-table-blue-50 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-blue-50 th, .my-table-blue-50 td{
    padding: 6px 16px;
}
.my-table-blue-50 th{
    background-color:blue;
    color: white;
}
.my-table-blue-50 tr:nth-child(odd){
    background-color: rgb(184, 175, 242);
} 
.my-table-blue-50 tr:hover{
    background-color: rgb(12, 0, 238);
    cursor: pointer;
}
.my-table-blue-50 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(70, 88, 255);
    color: white;
    
}




/* my-table-blue-100  */
.my-table-blue-100{
    width: 100%;
}

.my-table-blue-100 table , .my-table-blue-100 th, .my-table-blue-100 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-blue-100 th, .my-table-blue-100 td{
    padding: 6px 16px;
}
.my-table-blue-100 th{
    background-color:blue;
    color: white;
}
.my-table-blue-100 tr:nth-child(odd){
    background-color: rgb(184, 175, 242);
} 
.my-table-blue-100 tr:hover{
    background-color: rgb(12, 0, 238);
    cursor: pointer;
}
.my-table-blue-100 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(70, 88, 255);
    color: white;
    
}



/* my-table-blue-100  */
.my-table-yellow-100{
    width: 100%;
}

.my-table-yellow-100 table , .my-table-yellow-100 th, .my-table-yellow-100 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-yellow-100 th, .my-table-yellow-100 td{
    padding: 6px 16px;
}
.my-table-yellow-100 th{
    background-color:yellow;
    color: rgb(0, 0, 0);
}
.my-table-yellow-100 tr:nth-child(odd){
    background-color: rgb(246, 252, 136);
} 
.my-table-yellow-100 tr:hover{
    background-color: rgb(255, 225, 0);
    cursor: pointer;
}
.my-table-yellow-100 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(234, 243, 62);
    color: rgb(0, 0, 0);
    
}


/* my-table-blue-50  */
.my-table-yellow-50{
    width: 50%;
}

.my-table-yellow-50 table , .my-table-yellow-50 th, .my-table-yellow-50 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-yellow-50 th, .my-table-yellow-50 td{
    padding: 6px 16px;
}
.my-table-yellow-50 th{
    background-color:yellow;
    color: rgb(0, 0, 0);
}
.my-table-yellow-50 tr:nth-child(odd){
    background-color: rgb(246, 252, 136);
} 
.my-table-yellow-50 tr:hover{
    background-color: rgb(255, 225, 0);
    cursor: pointer;
}
.my-table-yellow-50 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(234, 243, 62);
    color: rgb(0, 0, 0);
    
}



/* my-table-skyblue-100  */
.my-table-skyblue-100{
    width: 100%;
}

.my-table-skyblue-100 table , .my-table-skyblue-100 th, .my-table-skyblue-100 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-skyblue-100 th, .my-table-skyblue-100 td{
    padding: 6px 16px;
}
.my-table-skyblue-100 th{
    background-color:skyblue;
    color: rgb(0, 0, 0);
}
.my-table-skyblue-100 tr:nth-child(odd){
    background-color: rgb(0, 238, 255);
} 
.my-table-skyblue-100 tr:hover{
    background-color: rgb(2, 117, 171);
    cursor: pointer;
}
.my-table-skyblue-100 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(62, 225, 243);
    color: rgb(0, 0, 0);
    
}




/* my-table-skyblue-50  */
.my-table-skyblue-50{
    width: 50%;
}

.my-table-skyblue-50 table , .my-table-skyblue-50 th, .my-table-skyblue-50 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-skyblue-50 th, .my-table-skyblue-50 td{
    padding: 6px 16px;
}
.my-table-skyblue-50 th{
    background-color:skyblue;
    color: rgb(0, 0, 0);
}
.my-table-skyblue-50 tr:nth-child(odd){
    background-color: rgb(0, 238, 255);
} 
.my-table-skyblue-50 tr:hover{
    background-color: rgb(2, 117, 171);
    cursor: pointer;
}
.my-table-skyblue-50 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(62, 225, 243);
    color: rgb(0, 0, 0);
    
}




/* my-table-pink-50  */
.my-table-pink-50{
    width: 50%;
}

.my-table-pink-50 table , .my-table-pink-50 th, .my-table-pink-50 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-pink-50 th, .my-table-pink-50 td{
    padding: 6px 16px;
}
.my-table-pink-50 th{
    background-color:pink;
    color: rgb(0, 0, 0);
}
.my-table-pink-50 tr:nth-child(odd){
    background-color: rgb(249, 168, 211);
} 
.my-table-pink-50 tr:hover{
    background-color: rgb(231, 44, 165);
    cursor: pointer;
}
.my-table-pink-50 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(243, 62, 222);
    color: rgb(0, 0, 0);
    
}



/* my-table-pink-100  */
.my-table-pink-100{
    width: 100%;
}

.my-table-pink-100 table , .my-table-pink-100 th, .my-table-pink-100 td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
.my-table-pink-100 th, .my-table-pink-100 td{
    padding: 6px 16px;
}
.my-table-pink-100 th{
    background-color:pink;
    color: rgb(0, 0, 0);
}
.my-table-pink-100 tr:nth-child(odd){
    background-color: rgb(249, 168, 211);
} 
.my-table-pink-100 tr:hover{
    background-color: rgb(231, 44, 165);
    cursor: pointer;
}
.my-table-pink-100 caption{
    caption-side:top;
    text-align: center;
    background-color: rgb(243, 62, 222);
    color: rgb(0, 0, 0);
    
}

/* https://www.flaticon.com/ for icon */ 

.list ul{
    background-color: rgb(136, 231, 231);
    width: 50%;
    list-style-type: circle;
    list-style-type: none;
    list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: number;          
    list-style-position: inside;
    /* padding: 0;
    padding-left:0 ; */


}
.list li{
    background-color: rgb(206, 246, 255);
}
.menu ul{
    background-color: aqua;
    list-style: none;
    padding: 0px;
}
.menu li{
    list-style: none;
    background-color: rgb(180, 255, 66);
    width: 100px;
    text-decoration: none;
    display: inline-block;
    /* float: right; */
}
.menu a:hover{
    text-decoration: none;
}
.menu li:hover{
    background-color: rgb(134, 225, 255);

}
.menu li:hover a{
    color: white;
}
div{
    /* display: none; */   /*repalce any code */
    /* visibility: hidden; */ /*reserve the place for some element */
    /* display: inline; */
    padding: 10px;
    float: left;
}

div:nth-child(2){
    float: right;
}
a{
    display: block;
}