body{
    background-color:red;}
h1 {
      background-color: green;
    }
    
div {
      background-color: lightblue;

    }
    
p {
      background-color: yellow;
    }
.first-div{
    background-color: greenyellow;
    margin: 100px;
}