#solid{
    border: 10px solid;
}
#bottom{
  border-bottom: 2px solid blue;
}

#left{
  border-left: 10px solid;
}
#rounded{
  border: 10px solid rgb(193, 193, 255);
  border-radius: 50px;
}

#example1 {
    border: 2px solid black;
    padding: 25px;
    background: url(mountai.webp);
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  #example2 {
    /* border: 2px solid black; */
    padding: 25px;
    background: url(mountai.webp);
    background-repeat: no-repeat;
    background-size: 800px 200px;
    background-size: 300px 100px;
  }

div {
    block-size: 400px;
    border: 5px solid red;
    border: 10px solid red;
    border: 4px dotted blue;
    border: 4px dashed blue;
    border: 4px inset;
    border: 4px outset;
    border: 4px ridge;
    border: 4px groove;
    border: 10px double;
    border-block-style: dotted;
    border-block-style: dashed;
    border-block-style: dashed dotted;
    border-block-style: solid;
    border-block-style: double;
    border-block-style: groove;
    border-block-style: ridge;
    border-block-style: inset;
    border-block-style: outset;
    border-block-style: initial;
    border-block-style: inherit;
}