#my-div-1{
    box-sizing: border-box;
    width: 100px;
    border:  5px solid red;
    padding: 20px;
}
#my-div-2{
    box-sizing: border-box;
    width: 100px;
    border: 5px solid red;
    padding: 20px;
    margin: 20px 50px;
    outline: 10px solid greenyellow;
    border-radius: 20px;
    border-right: none;
    border-left-width: 0;
    outline-offset: 10px;
    background-color: aqua;
    width: 20%;
    margin: -auto 10px 10px 10px;
}