p{
    background-color: rgb(193, 87, 255);
    color: rgb(29, 244, 25);
}
h1{
    background-color: red;
    color: white;
    padding: 20px;
    text-shadow: darkslategrey;
}
#para1{
    background-color: rgb(255, 181, 224);
    color: white;
}
h1{
    background-color: rgb(188, 209, 0);
    color: white;
    padding: 20px;
    text-shadow: darkslategrey;
}
#para1{
    background-color: rgba(255, 0, 149, 0.034);
    color: rgb(6, 192, 52);
}