/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

body{
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

body{

        font-family: "Slabo 27px", serif;
        font-weight: 400;
        font-style: normal;
      }
p {
    padding: 10px;
    border: 10px solid green;
    border-left: 10px solid red;
    border-bottom: 10px solid yellow;
    border-right: 10px solid aqua;
    /* border-radius: 50%; */
    margin: 20px ;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    margin: 50px 70px 80px 100px;
    margin: 25px 50px;
    margin: 25px 50px 75px;
    margin: 10px;
    margin: auto;
    margin: 0 0 0 0;


}

/* body{
        font-family: "Monsieur La Doulaise", cursive;
        font-weight: 400;
        font-style: normal;

border	        Sets all the border properties in one declaration
border-bottom	Sets all the bottom border properties in one declaration
border-bottom-color	Sets the color of the bottom border
border-bottom-style	Sets the style of the bottom border
border-bottom-width	Sets the width of the bottom border
border-color	    Sets the color of the four borders
border-left	Sets all the left border properties in one declaration
border-left-color	Sets the color of the left border
border-left-style	Sets the style of the left border
border-left-width	Sets the width of the left border
border-radius	Sets all the four border-*-radius properties for rounded corners
border-right	Sets all the right border properties in one declaration
border-right-color	Sets the color of the right border
border-right-style	Sets the style of the right border
border-right-width	Sets the width of the right border
border-style	Sets the style of the four borders
border-top	Sets all the top border properties in one declaration
border-top-color	Sets the color of the top border
border-top-style	Sets the style of the top border
border-top-width	Sets the width of the top border
border-width

      } */
      
h1{
    color: aquamarine;
    background-color: rgb(0, 104, 196);
}
p{
    color: rgb(255, 0, 0);
    background-color: rgb(232, 232, 232);

}
div  p{
    color: red;
    background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a:hover {
    background-color: yellow;
    color: rgb(248, 14, 14);
    font-size: 18px;
}
a:active{
    color: green;
}
p{
    text-align: right;
    text-align: center;
    text-align: justify;
    line-height: 1.5;
    text-transform: title;
}
.container{
    text-align: center;
    font-size: 60px;
    color: red;
    text-shadow: 10px 1px  rgb(0, 0, 0); 
    /* first one  horizontal and next one for up and down */
}